﻿<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5 text-uppercase">Anderson Hardy</h2><span class="text-uppercase">Web Developer</span>
            </div>
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li id="Home"><a asp-controller="Home" asp-action="Index"> <i class="icon-home"></i><span>Home</span></a></li>
                <li id="BangGiaCho"><a asp-controller="BangGiaCho" asp-action="Index"> <i class="icon-list"></i><span>Price List</span></a></li>
                <li>
                    <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-user"></i><span>Users</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                    </a>
                    <ul id="pages-nav-list" class="collapse list-unstyled list-inline">
                        <li> <a href="~/Users/">Employees</a></li>
                        <li> <a href="~/KhachHang/">Customers</a></li>
                        <li> <a href="#">Collaborators</a></li>                              
                    </ul>
                </li>    
                <li id="Account"><a asp-controller="Account" asp-action="Create"> <i class="fa fa-plus"></i><span>Create new account</span></a></li>
            </ul>
        </div>
    </div>
</nav>