﻿@model testCore.Models.RegisterViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <section class="forms">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="display">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <form asp-action="Create" asp-controller="Account">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Email Address" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-primary">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

