﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<title>@ViewData["Title"] - FirstCore</title>
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome CSS-->
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
<!-- Custom icon font-->
<link rel="stylesheet" href="~/css/fontastic.css">
<!-- Google fonts - Roboto -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<!-- jQuery Circle-->
<link rel="stylesheet" href="~/css/grasp_mobile_progress_circle-1.0.0.min.css">
<!-- Custom Scrollbar-->
<link rel="stylesheet" href="~/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
<!-- theme stylesheet-->
<link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="~/css/custom.css">
<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Home</span><strong class="text-primary">Market</strong></div>
                <form asp-action="Login" method="post" asp-controller="Account">
                <div asp-validation-summary="All"class="text-danger"></div>
                    <div class="form-group-material">
                        <input asp-for="Email" required class="input-material">
                        <label asp-for="Email" class="label-material">Username</label>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group-material">
                        <input asp-for="Password" class="input-material">
                        <label asp-for="Password" class="label-material">Password</label>
                        <span asp-validation-for="Password"></span>
                    </div>
                <div>
                    <input asp-for="RememberMe"/>
                    <label asp-for="RememberMe">Remember Me!</label>
                    <span asp-validation-for="RememberMe"></span>
                </div>
                    <div><input type="submit" class="btn btn-primary" value="Log In" /></div>

                </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
            </div>
        </div>
    </div>
</div>
