﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
@:
        //    PushIndent("    ");
    }
}
      <div class="container-fluid">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">@@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
              <li class="breadcrumb-item active">@@ViewData["Title"]</li>
          </ul>
          <div class="card">
              <div class="card-header d-flex align-items-center">
                  <h4 class="h5 display">@@ViewData["Title"]</h4>
              </div>
              <div class="card-body">
                  <h4 class="text-danger">Are you sure you want to delete this?</h4>
                  <dl class="dl-horizontal row">
                      @{
                    foreach (var property in Model.ModelMetadata.Properties)
                    {
                        if (property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
                        {
                      <dt class="col-sm-2">
                          @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                      </dt>
                          <dd class="col-sm-10">
                              @@Html.DisplayFor(model => model.@GetValueExpression(property))
                          </dd>
                }
            }
            foreach (var navigation in Model.ModelMetadata.Navigations)
            {
                          <dt class="col-sm-2">
                              @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                          </dt>
                          <dd class="col-sm-10">
                              @@Html.DisplayFor(model => model.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                          </dd>
    }
      @:</dl>

      @:
      @:<form asp-action="@Model.ViewName">
    foreach (var property in Model.ModelMetadata.Properties)
    {
        if (property.IsPrimaryKey)
        {
            @:<input type="hidden" asp-for="@GetValueExpression(property)" />
}
    }
    @:<input type="submit" value="Delete" class="btn btn-danger" />
    @:<a asp-action="Index" class="btn btn-primary">Back to List</a>
    @:</form>
      @:</div>
              @:</div>
                  @:</div>
if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
{
    //ClearIndent();
      @:</body>
@:</html>
    }
}
@functions
{
    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }
}