﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    @:
    //    PushIndent("    ");
}
@:<div class="container-fluid">
    @:<ul class="breadcrumb">
        @:
        <li class="breadcrumb-item"><a href="index.html">@@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
        @:
        <li class="breadcrumb-item active">@@ViewData["Title"]</li>
        @:</ul>
    @:<section class="forms">
        @:<div class="card">
            @:<div class="card-header d-flex align-items-center">
                @:<h4 class="display">@@ViewData["Title"]</h4>
                @:</div>
            @:<div class="card-body">
                @:<form asp-action="@Model.ViewName">
    @:<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    foreach (var property in Model.ModelMetadata.Properties)
    {
        if (property.Scaffold && !property.IsAutoGenerated && !property.IsReadOnly)
        {
            if (property.IsPrimaryKey)
            {
                @:<input type="hidden" asp-for="@property.PropertyName" />
                continue;
            }
            if (property.IsForeignKey)
            {
                @:<div class="form-group row">
                    @:<label asp-for="@property.PropertyName" class="control-label col-sm-2"></label>
                    @:<select asp-for="@property.PropertyName" class="form-control col-sm-10" asp-items="ViewBag.@property.PropertyName"></select>
                    @:</div>
                continue;
            }

            bool isCheckbox = property.TypeName.Equals("System.Boolean");
            if (isCheckbox)
            {
                @:<div class="form-group row">
                    @:<label asp-for="@property.PropertyName" class="control-label col-sm-2"></label>
                    @:<input asp-for="@property.PropertyName" />
                    @:</div>
            }
            else if (property.IsEnum && !property.IsEnumFlags)
            {
                @:<div class="form-group row">
                    @:<label asp-for="@property.PropertyName" class="control-label col-sm-2"></label>
                    @:<select asp-for="@property.PropertyName" class="form-control col-sm-10"></select>
                    @:<span asp-validation-for="@property.PropertyName" class="text-danger"></span>
                    @:</div>
            }
            else
            {
                @:<div class="form-group row">
                    @:<label asp-for="@property.PropertyName" class="control-label col-sm-2"></label>
                    @:<input asp-for="@property.PropertyName" class="form-control col-sm-10" />
                    @:<span asp-validation-for="@property.PropertyName" class="text-danger"></span>
                    @:</div>
            }
        }
    }
}
<div class="form-group">
    <input type="submit" value="Edit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
</form>
</div>
</div>
</section>
</div>
@{
    if (Model.ReferenceScriptLibraries)
    {
        @:@@section Scripts {
        @:@@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @:}
    }
    // The following code closes the tag used in the case of a view using a layout page and the body and html tags in the case of a regular view page
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        @:</body>
@:</html>
    }
}
@functions
{
    string GetAssociationName(IPropertyMetadata property)
    {
        //Todo: Implement properly.
        return property.PropertyName;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }
}
