﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @GetEnumerableTypeExpression(Model.ViewDataTypeName)

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    //    PushIndent("    ");
}
@:<div class="container-fluid">
    @:<ul class="breadcrumb">
        @:
        <li class="breadcrumb-item"><a href="index.html">@@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
        @:
        <li class="breadcrumb-item active">@@ViewData["Title"]</li>
        @:</ul>
    @:<div class="card">
        @:<div class="card-header d-flex align-items-center">
            @:<h2 class="h5 display">List of @@this.ViewContext.RouteData.Values["Controller"].ToString()</h2>
            @:</div>
        @:<div class="card-body">
            @:<table class="table table-striped table-hover">
                @:<thead>
                    @:<tr>

                        var properties = Model.ModelMetadata.Properties;
                        foreach (var property in properties)
                        {
                            if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                            {
                                <th>
                                    @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                                </th>
                            }
                        }
                        foreach (var navigation in Model.ModelMetadata.Navigations)
                        {
                            <th>
                                @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                            </th>
                        }
                        @:
                        <th><a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a></th>
                        @:</tr>
                    @:</thead>
                @:<tbody>
                    @:@@foreach (var item in Model) {
                    @:<tr>
                        foreach (PropertyMetadata property in properties)
                        {
                            if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                            {
                                <td>
                                    @@Html.DisplayFor(modelItem => item.@GetValueExpression(property))
                                </td>
                            }
                        }
                        foreach (var navigation in Model.ModelMetadata.Navigations)
                        {
                            <td>
                                @@Html.DisplayFor(modelItem => item.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                            </td>
                        }
                        string pkName = GetPrimaryKeyName();
                        if (pkName != null)
                        {
                            @:<td>
    @:<a asp-action="Edit" asp-route-id="@@item.Id" title="Edit" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
    @:<a asp-action="Details" asp-route-id="@@item.Id" title="Detail" class="btn btn-info"><i class="fa fa-eye"></i></a>
    @:<a asp-action="Delete" asp-route-id="@@item.Id" title="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></a>
    @:</td>
                        }
                        else
                        {
                            <td>
                                @@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        }
                        @:</tr>
                    @:}
                    @:</tbody>

                @:</table>
                    @:</div>
                        @:</div>
                            @:</div>
            if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
            {
                //ClearIndent();
                @:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }

    string GetEnumerableTypeExpression(string typeName)
    {
        return "IEnumerable<" + typeName + ">";
    }
}