﻿@model testCore.Models.BangGiaCho

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


      <div class="container-fluid">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
              <li class="breadcrumb-item active">@ViewData["Title"]</li>
          </ul>
          <div class="card">
              <div class="card-header d-flex align-items-center">
                  <h4 class="h5 display">@ViewData["Title"]</h4>
              </div>
              <div class="card-body">
                  <h4 class="text-danger">Are you sure you want to delete this?</h4>
                  <dl class="dl-horizontal row">
                      <dt class="col-sm-2">
                          @Html.DisplayNameFor(model => model.MaThucPham)
                      </dt>
                          <dd class="col-sm-10">
                              @Html.DisplayFor(model => model.MaThucPham)
                          </dd>
                      <dt class="col-sm-2">
                          @Html.DisplayNameFor(model => model.TenThucPham)
                      </dt>
                          <dd class="col-sm-10">
                              @Html.DisplayFor(model => model.TenThucPham)
                          </dd>
                      <dt class="col-sm-2">
                          @Html.DisplayNameFor(model => model.LoaiThucPham)
                      </dt>
                          <dd class="col-sm-10">
                              @Html.DisplayFor(model => model.LoaiThucPham)
                          </dd>
                      <dt class="col-sm-2">
                          @Html.DisplayNameFor(model => model.GiaThucPham)
                      </dt>
                          <dd class="col-sm-10">
                              @Html.DisplayFor(model => model.GiaThucPham)
                          </dd>
      </dl>
      
      <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
      </div>
              </div>
                  </div>
