﻿@model testCore.Models.BangGiaCho

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ul class="breadcrumb">
        
        <li class="breadcrumb-item"><a href="index.html">@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
        
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ul>
    <section class="forms">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="display">@ViewData["Title"]</h4>
                </div>
            <div class="card-body">
                <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="MaThucPham" class="control-label col-sm-2"></label>
                    <input asp-for="MaThucPham" class="form-control col-sm-10" />
                    <span asp-validation-for="MaThucPham" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="TenThucPham" class="control-label col-sm-2"></label>
                    <input asp-for="TenThucPham" class="form-control col-sm-10" />
                    <span asp-validation-for="TenThucPham" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="LoaiThucPham" class="control-label col-sm-2"></label>
                    <input asp-for="LoaiThucPham" class="form-control col-sm-10" />
                    <span asp-validation-for="LoaiThucPham" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="GiaThucPham" class="control-label col-sm-2"></label>
                    <input asp-for="GiaThucPham" class="form-control col-sm-10" />
                    <span asp-validation-for="GiaThucPham" class="text-danger"></span>
                    </div>
<div class="form-group">
    <input type="submit" value="Edit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
</form>
</div>
</div>
</section>
</div>
        @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
