﻿@model IEnumerable<testCore.Models.BangGiaCho>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ul class="breadcrumb">

        <li class="breadcrumb-item"><a href="index.html">@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>

        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h2 class="h5 display">List of @this.ViewContext.RouteData.Values["Controller"].ToString()</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaThucPham)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenThucPham)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiThucPham)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GiaThucPham)
                        </th>

                        <th><a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaThucPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenThucPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiThucPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaThucPham)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Detail" class="btn btn-info"><i class="fa fa-eye"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
