﻿@model testCore.Models.Users

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ul class="breadcrumb">
        
        <li class="breadcrumb-item"><a href="index.html">@this.ViewContext.RouteData.Values["Controller"].ToString()</a></li>
        
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ul>
    <section class="forms">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="display">@ViewData["Title"]</h4>
                </div>
            <div class="card-body">
                <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Ma" class="control-label col-sm-2"></label>
                    <input asp-for="Ma" class="form-control col-sm-10" />
                    <span asp-validation-for="Ma" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="Ten" class="control-label col-sm-2"></label>
                    <input asp-for="Ten" class="form-control col-sm-10" />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="HinhAnh" class="control-label col-sm-2"></label>
                    <input asp-for="HinhAnh" class="form-control col-sm-10" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="NgaySinh" class="control-label col-sm-2"></label>
                    <input asp-for="NgaySinh" class="form-control col-sm-10" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="QuocTich" class="control-label col-sm-2"></label>
                    <input asp-for="QuocTich" class="form-control col-sm-10" />
                    <span asp-validation-for="QuocTich" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="Sdt" class="control-label col-sm-2"></label>
                    <input asp-for="Sdt" class="form-control col-sm-10" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="DiaChi" class="control-label col-sm-2"></label>
                    <input asp-for="DiaChi" class="form-control col-sm-10" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="Email" class="control-label col-sm-2"></label>
                    <input asp-for="Email" class="form-control col-sm-10" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="NgayDangKy" class="control-label col-sm-2"></label>
                    <input asp-for="NgayDangKy" class="form-control col-sm-10" />
                    <span asp-validation-for="NgayDangKy" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="UserName" class="control-label col-sm-2"></label>
                    <input asp-for="UserName" class="form-control col-sm-10" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="Password" class="control-label col-sm-2"></label>
                    <input asp-for="Password" class="form-control col-sm-10" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="GroupId" class="control-label col-sm-2"></label>
                    <input asp-for="GroupId" class="form-control col-sm-10" />
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                <div class="form-group row">
                    <label asp-for="Status" class="control-label col-sm-2"></label>
                    <input asp-for="Status" />
                    </div>
<div class="form-group">
    <input type="submit" value="Edit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
</form>
</div>
</div>
</section>
</div>
